$primary-color-light: #ecf0fe;
$secondary-color-light: #191919;

$primary-color-dark: #191919;
$secondary-color-dark: #ecf0fe;

$indigo:rgb(53, 16, 133);
$white:#fff;
$black:#0e0e0e;
$fonce:rgb(93, 93, 93);
$light-gray:rgb(58, 58, 58);
$dark-gray: rgb(52, 52, 52);


// Déclaration des variables de box-shadow
$box-shadow: 0 0 5px rgba(95, 93, 93, 0.5);



* {
  margin: 0;
  padding: 0;
}

.body{
  height: 100%;
  .head {
    background-color: $white;
    height: 5vh;
    padding: 11.5px;
    display: flex;
    justify-content: space-between;
    h2{
      color: $indigo;
      margin-left: 80px;
      font-size: 22px;
      font-weight: 600px;
    }
    // Styles pour la barre de recherche
    .search-bar {
      display: flex;
      margin-top: 20px;
      align-items: center;

      .search-input {
        width: 220px;
        height: 2vh;
        border: 1px solid #ccc;
        border-radius: 12px;
        margin-right: 10px;
        font-size: 14px;
        background-color: $primary-color-light;
        box-shadow: $box-shadow;
      }

      .search-input:focus {
        outline: none;
        width: 270px;
      }
    }
    .add-btn {
      background-color: $primary-color-light;
      font-weight: bold;
      font-size: 13px;
      height: 35px;
      margin-right: 40px;
      color: $indigo;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: $box-shadow;
    }
    
  }





  label {
    display: block;
    color: #666767;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
  }

  input, select {
    width: 98.5%;
    padding: 8px;
    margin-bottom: 10px;
    color: #0952ac;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(46, 45, 45, 0.1);
  }
  .error-message {
    color: red;
    font-weight: 500;
    font-size: 0.8em;
    margin-top: -14px;
    margin-bottom: 0px;
  }
  select{
    width: 103%;
  }

  button {
    background-color: #4b9be6;
    color: white;
    border: none;
    margin: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #4592a0;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background-color:$white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    width: 28%; /* Largeur égale à 80% de la hauteur de la fenêtre */
    max-height: 80%;
    overflow-y: auto;
    animation: modalAppear 1.2s ease forwards; /* Animation pour faire apparaître le modal */
    position: absolute;
    top: -100%; /* Position initiale, en dehors de la zone visible */
  }

  @keyframes modalAppear {
    to {
      top: 10%; /* Position finale, ajustez selon vos besoins */
    }
  }


  .modal-content {
    color: rgb(241, 238, 238);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(36, 36, 36);
    margin-bottom: 20px;
  }

  .close-btn {
    background: none;
    border: none;
    color: rgb(93, 93, 93);
    font-size: 15px;
    cursor: pointer;
  }
  .close-btn:hover {
    color: #fcb8d6;
  }


  .content {
    
    margin: 5vh 20px auto 20px ;
    height: 520px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(29, 29, 30, 0.356);
    overflow: hidden;
    
    .table{
      height: 90%;
      table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

          th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
            font-weight: bolder;
            color: $fonce;
          }

          thead {
            background-color: $primary-color-light;
            height: 50px;
            color: #1d0f0f;
            font-size: 16px;
            tr th{
              color: $indigo;
            }
          }

          tbody {
            max-height: 100px; 
            overflow-y: auto;
          }

          tbody tr:hover {
            background-color: $primary-color-light;
          }

      }
    }
      pagination-controls {
        display: flex;
        justify-content: right;
      }

  }
      
  .btn {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-delete {
    background-color: #e74c3c;
    color: #fff;
  }
  .btn-edit {
    background-color: #f39c12;
    color: #fff;
  }

  .btn:hover {
    box-shadow: 0 2px 5px rgba(29, 29, 29, 0.911);
  }
}


// Ajouter les styles pour le mode sombre
.dark-mode {
  background-color: $dark-gray;
  color: $white;
}
